/* Fonte do google Fonts para o Título da pag. Font famili 'Alumni Sans SC */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@1,347&display=swap');        /*Alumni Sans SC */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');          /* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');                        /* Press Stars 2P */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');                                 /* Anton */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&display=swap');     /* oswald */

/* Estilização do título */

body {
    background-image: url(../imagens/Reino\ do\ Cogumelo\ fMario);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 108px;
    padding-top: 100px;
    margin: 0;
}


nav {
    padding: 0;
}

header a {
    color: #FF1100;
    text-decoration: none;
}

header ul {
  padding-left: 0;
  padding-top: 0.25em;
  margin-bottom: 0;
  background-color: rgb(14, 0, 204);     
}

header {
  background-color: rgba(229, 37, 33);
  box-shadow: 2px 10px 10px rgba(199, 2, 2, 0.35);
  text-align: center;
  position: fixed;
  top: 0;
    left: 0;
    width: 100%;
}

header h1 {
    color: white;
}

header li {
  list-style: none;
  display: inline-block;
  font-family: "Special Elite", cursive;
  border-bottom: 3px solid transparent;
  margin: 0 1em;
}

ul:hover {
    height: 30px;
}


